# Add application configuration variables here, as shown below.

RABBIT_MQ_USER: "guest"
RABBIT_MQ_PASSWORD: "guest"
RABBIT_MQ_HOST: "localhost"
RABBIT_MQ_PORT: "5672"
SEARCH_JOB_EXCHANGE_NAME: "quickwingSearch"
SEARCH_RESULTS_EXCHANGE_NAME: "quickwingResults"

YELP_CONSUMER_KEY:    'XXXXXXXXXXXXXXXXXXXXXXXXXXX'
YELP_CONSUMER_SECRET: 'XXXXXXXXXXXXXXXXXXXXXXXXXXX'
YELP_TOKEN:           'XXXXXXXXXXXXXXXXXXXXXXXXXXX'
YELP_TOKEN_SECRET:    'XXXXXXXXXXXXXXXXXXXXXXXXXXX'

FOURSQUARE_CLIENT_ID:     'XXXXXXXXXXXXXXXXXXXXXXXXXXX'
FOURSQUARE_CLIENT_SECRET: 'XXXXXXXXXXXXXXXXXXXXXXXXXXX'

QYPE_CLIENT_KEY:    'XXXXXXXXXXXXXXXXXXXXXXXXXXX'
QYPE_CLIENT_SECRET: 'XXXXXXXXXXXXXXXXXXXXXXXXXXX'
